* {
    margin: 0;
    padding: 0;
}

body {
    background: #101040;
    color: #ffffff;
    text-align: center;
}

h1 {
    margin: 5vh auto;
}

p {
    margin: 5vh 10vw;
}

main {
    width: 60vw;
    margin: 0 auto 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    justify-items: center;
}

sq-r {
    width: 20vw;
    height: 20vw;
    background: #ffffff;
    border-radius: 5px;
}

.red {
    background: #ff4040;
}

.pink {
    background: #ff0080;
}

.blue {
    background: #0080ff;
}

.turq {
    background: #00ffff;
}

.yellow {
    background: #ffd000;
}

.green {
    background: #40a040;
}

.sp-green {
    background: #40ffa0;
}

.colors {
    margin: 2.5vh auto;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
}

.colors h3 {
    width: 100%;
}

.colors span {
    display: block;
    height: 5vh;
    width: 25px;
    border-radius: 5px;

}