* {
    margin: 0;
    padding: 0;
}

body {
    background: #101040;
    color: #ffffff;
    text-align: center;
}

h1 {
    margin: 5vh auto;
}

p {
    margin: 5vh 10vw;
}

main {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2.5vh 2vw;
    justify-items: center;
}

div, sq-r {
    /* border: 2px solid #ffffff; */
    width: 20vw;
    height: 20vw;
    background: #ffffff;
}

.red {
    background: #ff4040;
}

.pink {
    background: #ff0080;
}

.blue {
    background: #0080ff;
}

.turq {
    background: #00ffff;
}

.yellow {
    background: #ffd000;
}

.green {
    background: #40a040;
}

.sp-green {
    background: #40ffa0;
}